.box-wrap {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: #fff;
}

.box-title {
  border-bottom: 1px solid #ddd;
  font-size: 1.25em;
  padding: 10px;
}

.box-body {
  min-height: 140px;
  padding: 10px;

}
